#{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

body{
    text-align: center;
    font-family:sans-serif;
}

header{
display: flex;
justify-content: center;
}

.head{
    display: flex;
    align-items: center;
    justify-content:space-between;
    height: 63px;
    background-color: black;
    position: fixed;
    width: 100%;
    z-index: 100;
}
.navbar{
    display: flex;
    margin-right: 20px;
}

.logo{
    margin-left: 30px;
}

.logo a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 21px;

}

.navbar a{
    display: block;
    padding: 20px 20px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}

.navbar a{
    background: grey;
    color: black;
    font-weight: bold;
}
.content header{
    padding: 40px 80px;
    margin: 20px;
}
.header{
    height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
}

.header{
    height: 60vh!important;
    background: url('images/GM1.jpg') no-repeat;
    background-size: cover;
    
}
.title{
    margin-bottom: 40px;
    font-size: 40px;
    font-weight: 600;
    font-size: 60px;
    text-transform: uppercase;

}

p{
    margin-bottom: 40px;
    font-size: 18px;
    color:aliceblue;
    padding: 0 10px;
}

.btn{
    display: inline-block;
    margin-top: 15px;
    padding: 10px 40px;
    border: 2px solid rgb(110, 10, 10);
    text-decoration: none;
    background: rgb(110,10,10);
    color:black;
    font-weight: bold;


}
.btn:hover{
    background: none;

}


.btn-home{
display: flex;
}

.btn-home a{
    margin: 0 10px
}

.content{
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;}

    .content-prod{
        padding:30px;
        background: rgb(65, 64, 64);
        height: 800px;
    }
    

    .container-box{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        text-align: center;
        padding-bottom: 50px;
    }

    .container-box .container{
        height: 27rem;
        width: 17rem;
        background: #696767;
        text-align: center;
        border-radius: 1rem;
        box-shadow: 0 .3rem 5rem #636363;
        margin: 2rem;
    }
       .container-box .container i{
        height: 3rem;
        width: 3rem;
        line-height: 3rem;
        text-align: center;
        border-radius: 50%;
        color: beige;
        background: rgb(110, 10, 10);
        font-size: 2rem;
        margin: 1rem 0;

       }

       .container-box .container h3{
        font-size: 3rem;
        color: rgb(110, 10, 10);

       }

       .container-box .container p{
        padding: 10 15px;
        margin: 30px;
        font-size: 16px;

       }

       .about{
        background: #636363;

       }

       .content-price{
        background: url('images/GM2.jpg') no-repeat center;
        background-attachment: fixed;
        text-align: center;
        background-size: cover;
        font-weight: bold;
       }

       .contact{
        padding-top: 150px;
        background: rgb(88, 88, 88);
        padding-bottom: 200px;
        height: 350px;
        font-weight: bold;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

       }
       .contact p{
            height: 40px;
       }